body{
	padding:0px;
	margin:0px;	
	background:#eaebed;			
}
body,header,.content,footer{
	display:block;
}
.error{
	display:none;
	color:#000;
	background:#ffd1d1;
	border:#e03838 solid 1px;
	border-radius:2px;
	padding:1%;
	width:100%;
	text-align:center;
	margin-bottom:10px;
	position:absolute;
	z-index:10;
	top:10%;
	left:0%;
}
.success{
	color:#000;
	background:#e1ffe0;
	border:#53c14f solid 1px;
	border-radius:2px;
	padding:1%;
	width:100%;
	text-align:center;
	margin-bottom:10px;
	position:absolute;
	z-index:10;
	top:10%;
	left:0%;
}
.success span{
	font-weight:600;
}
.dark-popup-background{
	display:none;
}
.must-be-loggedin-popup{
	display:none;
}
.proceed-btn{
	border:#53c14f solid 1px;
	background:#53c14f;
	width:80%;
	margin-left:10%;
	padding:1%;
	text-align:center;
	border-radius:5px;
}
.proceed-btn a{
	color:#fff;
	font-weight:600;
	text-decoration:none;
}
.current{
	border-bottom:#3d76d3 1px solid;
	border-width:3px;
}
a:link{
	text-decoration:none;
	outline:none;
}
a:visited{
	text-decoration:none;
	outline:none;
}
a:active{
	text-decoration:none;
	outline:none;
}
.current a{
	color:#3d76d3;	
}
.current a:hover{
	text-decoration:none;	
}
.delistedbookFeedback{
	width:50%;
	margin-left:25%;
	padding:1%;
	background:#fff;
	border-bottom:#ccc solid 1px;	
}
.confirmation-box,.confirmation-deactivation{
	margin-top:20px;
	width:50%;
	margin-left:25%;				
	border-bottom:#ccc solid 1px;				
	padding:1%;
	display:none;
	background:#fff;
}
.confirmation-box h4, .confirmation-deactivation h4{
	background:#ccc;
	padding:1%;
}
.confirmation-box p, .confirmation-deactivation p{
	padding:1%;
	margin-bottom:5px;
}
.confirmation-box h5{
	color:#3d76d3;
	font-size:17px;
	font-weight:600;
	padding:1%;
	margin-bottom:0px;
}
.confirmation-box ul, .confirmation-deactivation ul{
	padding:0px;
	margin:0px;
	list-style:none;
}
.confirmation-box li, .confirmation-deactivation li{
	float:left;
	margin-left:10%;
	width:35%;
	border:#ccc solid 1px;
	border-radius:5px;
	text-align:center;
	padding:1%;
	cursor:pointer;
}
.confirmation-deactivation input{
	width:90%;
	margin-left:5%;
	padding:1%;
	border:#ccc solid 1px;
	border-radius:3px;
}
.notify{
	/*background:#faffce;*/
	color:#000;
	background:#e9ed2a;
	border:#e9ed2a solid 1px;
	border-radius:5px;
	font-size:16px;
	font-weight:600;
	padding:2%;
	width:90%;
	top:25%;
	left:5%;
	display:none;
	position:fixed;
	z-index:10;
}
.account-content-pop{
	position:absolute;
	z-index:9;
	background:#f9f9f9;
	border:#ccc solid 1px;
	padding:3px;
	width:200px;
	border-radius:3px;
	display:none;	
}
.account-content-pop ul{
	padding:0px;
	margin:0px;
	list-style:none;
}
.account-content-pop li{	
	display:block;
	padding:2%;
	margin-bottom:1px;
	border-bottom:#ccc solid 1px;
	width:90%;
}
.account-content-pop li:last-child{
	border:none;
}
.account-content-pop li a{}
#notification-menu-pop{
	position:absolute;
	z-index:10;
	background:#ce2c21;
	color:#fff;
	padding:5px;
	width:30px;
	height:30px;
	text-align:center;
	border-radius:50%;
	font-weight:600;
	display:none;	
}
.notification-content-pop{
	position:absolute;
	z-index:9;
	background:#cecece;
	padding:3px;
	width:300px;
	border-radius:3px;
	display:none;
}
.notification-content-header{
	border-bottom:#cecece solid 1px;
	padding:1%;
}
.notification-content-header h4{
	font-size:20px;
	float:left;
	width:70%;
}
.notification-content-header .close-btn{
	text-align:center;
	font-size:15px;
	margin-left:80%;
	width:15%;	
	cursor:pointer;
}
.notification-content-info{
	background:#fff;
	max-height:500px;
	overflow:auto;	
	background:#ccc;	
}
.notification-content-info-item{
	border:#ccc solid 1px;
	border-radius:5px;	
	padding:2%;
	margin-bottom:15px;
	background:#fff;
	width:95%;
	margin-left:2.5%;
}
.notification-content-info-item p{
	margin-top:2px;
	margin-bottom:2px;
	font-size:14px;
}
.notification-content-info-item h3{
	color:#000000;
	text-align:left;
	font-size:14px;
	font-weight:600;
}
.notification-content-info-item p div{
	border:#235cce solid 1px;
	background:#235cce;
	text-align:center;
	padding:1%;
	width:70%;
	margin-left:15%;
	border-radius:5px;
}
.notification-content-info-item p div{
	font-size:14px;
	color:#ffffff;	
	text-decoration:none
}
.notification-content-info-item-date{
	color:#a8a6a6;
	text-align:right;
}
header{
	width:100%;				
	border-bottom:#ccc solid 1px;				
	padding:5px;
	padding-top:0.5%;
	background:#fcfcfc;
	margin-top:0px;
}
.clear{
	clear:both;
}
.logo{
	width:45%;
	float:left;
}
.logo img{
	width:100%;
}
.menu{
	display:none;
}
.menu-mobile-content{
	display:none;
	position:absolute;
	z-index:10;
	top:0px;
	width:100%;
	background:#fff;
	padding:2%;
	border:#ccc solid 0.1px;
}
.menu-mobile-content ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
.menu-mobile-content li{
	width:95%;
	margin-left:2.5%;
	margin-top:10px;
	background:#3d76d3;
	border:#3d76d3 solid 1px;
	border-radius:5px;
}
.menu-mobile-content li a{
	color:#fff;
	font-weight:600;
	display:block;
	padding:10px;
}
.menu-mobile{
	margin-left:90%;
	width:10%;
	margin-top:10px;
	display:block;
	cursor:pointer;
}
.menu-mobile img{
	width:100%;
}
.menu-mobile-content-close-btn{
	margin-left:90%;
	width:10%;
	cursor:pointer;
}
.menu-mobile-content-close-btn img{
	width:100%;
}
.content{
	padding:1%;
	background:#eaebed;
	width:100%;
	margin-top:5px;
}
.jumbotron{
	background:#fcfcfc;
	font-size:18px;
	padding-top:0px;
	border-radius:0px;
}
.jumbotron span{
	color:#454647;
	font-weight:600;
}
.search{

}
.search p{
	padding:1%;
	margin:0px;
}
.search form{
	width:100%;
	border:#ccc solid 1px;
	background:#ededed;
	padding:2%;
	border-radius:5px;
}
.search input[type='text']{
	float:none;
	width:100%;
	padding:7px;
	border:#ccc solid 1px;
	border-radius:5px;
	font-size:16px;	
}
.search input[type='submit']{	
	width:25%;
	margin-left:70%;
	margin-top:10px;
	color:#fff;
	padding:7px;
	background:#3d76d3;
	border:#3d76d3 solid 1px;
	border-radius:5px;
	font-size:15px;
	cursor:pointer;
	font-weight:600;
}
.banner{
	text-align:center;
	width:90%;
	margin-left:5%;
	margin-bottom:30px;
	margin-top:30px;
}
.banner h2{
	/*color:#3d76d3;*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#3f3f3f;
	font-weight:600;
	font-size:33px;
	margin-bottom:0px;
}
.banner p{
	color:#808182;
	margin:0px;
}
.jumbotron h3{
	color:#565555;
	text-align:center;
	margin:0px;
	padding:2%;
}
.jumbotron ul{
	margin:0px;
	padding:0px;
}
.jumbotron .main-banner li{
	float:none;
	margin-left:2.5%;
	margin-top:10px;
	width:95%;
	list-style:none;
	border:#ccc solid 1px;
	background:#ededed;
	padding:1%;
	border-radius:5px;
	min-height:200px;
}
.jumbotron .main-banner li img{
	width:50%;
	margin-left:25%;
}
.jumbotron .main-banner li p{
	font-size:15px;
	text-align:center;
}
.search-result{
	width:100%;
	padding:1%;
	display:none;
}
.search-result .search-result-title{
	padding:2%;
	border-bottom:#ccc solid 1px;
}
.search-result .search-result-title h4{
	float:none;
	width:100%;
	margin:0px;
	font-size:17px;
}
.search-result .search-result-title span{
	color:#808182;				
}
.search-result .search-result-title .add-to-watchlist-btn{
	margin-left:15%;
	width:70%;
	border:#60c442 solid 1px;
	border-radius:5px;
	background:#60c442;
	padding:2%;
	text-align:center;
	font-size:15px;
	color:#fff;
	font-weight:600;
	cursor:pointer;
}
.search-result .search-result-title .remove-from-watchlist-btn{
	margin-left:80%;
	width:20%;
	border:#d86f24 solid 1px;
	border-radius:5px;
	background:#d86f24;
	padding:1%;
	text-align:center;
	font-size:15px;
	color:#fff;
	font-weight:600;
	cursor:pointer;
}
.search-result-content{
	width:100%;
}
.search-result-content .book-item{
	width:100%;
	padding:5px;
	border-bottom:#ccc solid 1px;
}
.search-result-content .book-item-img{
	float:left;
	width:20%;
	height:120px;
	overflow:hidden;
}
.search-result-content .book-item-img img{
	width:100%;
	border-radius:2px;
}
.search-result-content .book-item-info{
	float:none;
	width:75%;
	margin-left:25%;
	/*border:#ccc solid 0.1em;*/
}
.search-result-content .book-item-info span{
	font-weight:500;
}
.search-result-content .book-item-info h4{
	color:#2a2a2b;
	font-weight:600;
	font-size:18px;
	margin-bottom:0px;
}
.search-result-content .book-item-info p{
	margin:0px;
	font-size:14px;
}
.search-result-content .book-item-info .did-you-find-btn{
	text-align:left;
	margin-top:10px;
}
.search-result-content .book-item-info .did-you-find-btn a{
	font-size:15px;
	font-weight:500;
	color:#3d76d3;
}
.search-result-content .book-item-info .did-you-find-response{
	display:none;
}
.search-result-content .book-item-info .did-you-find-response ul{
	list-style:none;
	margin:0px;
	padding:0px;
}
.search-result-content .book-item-info .did-you-find-response li{
	float:left;
	margin-left:5px;
	width:60px;
	text-align:center;
	border:#ccc solid 1px;
	background:#ccc;
	border-radius:3px;
	padding:1px;
}
.search-result-content .book-item-info .did-you-find-response li:nth-child(3){	
	border:none;
	background:none;
	border-radius:0;
}
.search-result-content .book-item-info .did-you-find-response li a{
	font-size:14px;
	color:#000;
	text-decoration:none;
}
.search-result-content .book-item-more-info{	
	display:none;
}
.seller-forms{
	width:100%;
	background:#fcfcfc;
	border:#ccc solid 1px;
	padding:2%;
	border-radius:0px;
	font-size:14px;
}
.seller-forms h3{
	color:#6f706f;
	text-align:center;
	margin-bottom:0px;
}
.seller-forms p{
	color:#000;
	text-align:center;
	margin-top:0px;
	margin-bottom:30px;
	font-size:14px;
}
.seller-forms h4{
	font-size:18px;
	color:#6f706f;
	text-align:center;
}
.seller-forms input[type="text"]{
	width:90%;
	margin-left:5%;
	border-radius:2px;
	border:#ccc solid 1px;
	padding:2%;
	background:#f2f2f2;
}
.seller-forms input[type="password"]{
	width:90%;
	margin-left:5%;
	border-radius:2px;
	border:#ccc solid 1px;
	padding:2%;
	background:#f2f2f2;
}
.seller-forms select{
	width:90%;
	margin-left:5%;
	border-radius:2px;
	border:#ccc solid 1px;
	padding:2%;
	background:#f2f2f2;
}
.seller-forms input[type="submit"]{
	width:40%;
	margin-left:30%;
	border-radius:2px;
	background:#39cc42;
	color:#fff;
	cursor:pointer;
	border:#fcfcfc solid 1px;
	border-radius:5px;
	padding:2%;
	text-align:center;
	font-weight:600;
}
.seller-forms .login{
	float:none;
	border:#ccc solid 1px;
	padding:1%;
	border-radius:0px;
	width:95%;
	margin-left:2.5%;
	display:block;
}
.seller-forms .login div:last-child{
	margin-left:5%;
	width:95%;
}
.seller-forms .login div:last-child span{
	width:50%;
	font-style:italic;
}
.seller-forms .signup{
	float:left;
	border:#ccc solid 1px;
	padding:1%;
	border-radius:0px;
	width:100%;
	display:none;
}
.seller-forms .signup div,.seller-forms .login div{
	margin-top:10px;
}
.mobile-account-form-switch{
	font-size:17px;
	font-weight:600;
	text-align:center;
	color:#3d76d3;
	cursor:pointer;
}
/*forgot-password-page*/
.forgot-password-page{
	width:100%;
	padding:2%;
	background:#fff;
	border-radius:0px;
}
.forgot-password-page h3{
	text-align:center;
	padding:1%;
}
.forgot-password-page form{
	border-radius:5px; 
	border:#ccc solid 1px;
	padding:2%;
	width:95%;
	margin-left:2.5%;
}
.forgot-password-page form div{
	margin-top:10px;
}
.forgot-password-page form input[type="text"]{
	width:90%;
	margin-left:5%;
	padding:2%;
	border-radius:5px; 
	border:#ccc solid 1px;
}
.forgot-password-page form input[type="password"]{
	width:90%;
	margin-left:5%;
	padding:1%;
	border-radius:5px; 
	border:#ccc solid 1px;
}
.forgot-password-page form input[type="submit"]{
	width:30%;
	margin-left:60%;
	padding:1%;
	border-radius:5px; 
	border:#39cc42 solid 1px;
	background:#39cc42;
	color:#fff;
	cursor:pointer;
	font-weight:600;
}
.registration-success-page{
	background:#eee;
	width:100%;
	color:#3f3f3f;
} 
.registration-success-page div{
	margin-left:2.5%;
	width:95%;
	padding:2%;
	font-size:17px;
	border:#ccc solid 0.1px;
	border-radius:3px;
	margin-top:15px;
	background:#fff;
}
.registration-success-page div h4{
	color:#000;
	font-size:18px;
}
.registration-success-page div .img{
	display:none;
}
.registration-success-page div .img img{
	width:100%;
}
.registration-success-page .proceed-btn{
	width:60%;
	margin-left:20%;
	background:#346cc1;
	border:#346cc1 solid 0.1px;
	border-radius:5px;
	text-align:center;
	padding:2%;
}
.registration-success-page .proceed-btn a{
	color:#fff;
	font-weight:600;
	text-decoration:none;
}
.login-menu{
	display:none;
}
.post-book-content{
	width:100%;
	padding:2%;
	background:#fcfcfc;
	font-size:14px;
	border-radius:0px;
}
.post-book-content h3{
	text-align:center;
}
.post-book-content h4{
	text-align:center;
	background:#e0e0e0;
	padding:1%;
	font-size:18px;
}
.book-post-success-btn{
	color:#000;
	background:#53c14f;
	border:#53c14f solid 1px;
	border-radius:5px;
	text-align:center;
	padding:1%;
	width:25%;
	margin-left:15%;
	float:left;
}
.book-post-success-btn a{
	color:#fff;
	text-decoration:none;
}	
.book-info,.book-residence,.book-status{
	float:none;
	width:95%;
	margin-left:2.5%;
	margin-bottom:20px;
	border:#ccc solid 1px;
	padding:2%;
	border-radius:3px;
}
.book-info-img{
	width:50%;
	margin-left:25%;
	border:#ccc solid 1px;
	height:140px;
	overflow:hidden;
}
.book-info-img img{
	width:100%;
}
.book-info div,.book-residence div,.book-status div{
	margin-top:10px;
}
.book-info input[type="file"],
.post-book-content input[type="text"],
.post-book-content select,
.book-status textarea{
	width:90%;
	margin-left:5%;
	border-radius:2px; 
	border:#ccc solid 1px;
	padding:2%;
}
.post-book-content .book-status div:last-child{
	width:90%;
	margin-left:5%;
	border-radius:2px;
	border:#ccc solid 1px;
	padding:1%;
}
.post-book-content input[type="submit"]{
	width:40%;
	margin-left:30%;
	margin-top:10px;
	border-radius:5px; 
	border:#34d352 solid 1px;
	padding:7px;
	background:#34d352;
	color:#fff;
	font-weight:600;
	cursor:pointer;
}
/* mybooks */
.books{
	width:100%;
	padding:2%;
	background:#fcfcfc;
	font-size:14px;
	border-radius:5px;
}
.books h4{
	font-weight:600;
	font-size:16px;
	color:#6f706f;
	text-align:center;
	margin-bottom:20px;
	border-bottom:#ccc solid 1px;
	background:#e0e0e0;
	padding:1%;
}			
.books .left{
	float:none;
	width:100%;
	border-radius:5px;
}
.books .left .mybooks{
	margin-left:2.5%;
	width:95%;
	border:#ccc solid 1px;
	border-radius:0px 0px 5px 5px;
	padding:1%;
	padding-bottom:4%;
}
.mybooks .no-book-posted a{
	font-weight:600;
}
.mybooks-item{
	float:none;
	width:100%;
	border:#ddd solid 1px;
	margin-bottom:10px;
}
.mybooks-item-img{				
	float:left;
	margin-left:2%;
	width:30%;
	overflow:hidden;
	height:150px;
	margin-top:0px;
	padding:0px;
}
.mybooks-item-img img{
	width:100%;
}
.mybooks-item-info{
	margin-left:34%;
	width:64%;
	padding:1%;
}
.mybooks-item-info h5{
	font-size:15px;
}
.mybooks-item-info p{
	margin-bottom:2px;
	margin-top:0px;
}
.mybooks-item-info span{
	color:#808182;	
	font-weight:600;			
}
.mybooks-item .action-btns{			
	width:40%;
	padding:1%;
	margin-bottom:5px;
}
.mybooks-item .action-btns ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
.mybooks-item .action-btns li{
	display:inline;
	width:45%;
	margin-left:5%;
	padding:5px;				
	border:#ccc solid 1px;
	border-radius:5px;
}
.mybooks-item .action-btns li a{
	text-decoration:none;
}
.books .right{
	display:none;
}
.profile{
	width:100%;
	padding:1%;
	background:#fcfcfc;
	font-size:14px;
	border-radius:0px;
}
.profile div{
	margin-top:10px;
}
.profile h4{
	font-size:18px;
	color:#6f706f;
	text-align:center;
	margin-bottom:20px;
	border-bottom:#ccc solid 1px;
	background:#e0e0e0;
	padding:2%;
}
.profile input[type="text"]{
	width:95%;
	margin-left:2.5%;
	border-radius:2px;
	border:#ccc solid 1px;
	padding:2%;
}
.profile input[type="password"]{
	width:95%;
	margin-left:2.5%;
	border-radius:2px;
	border:#ccc solid 1px;
	padding:2%;
	background:#f2f2f2;
}
.profile select{
	width:95%;
	margin-left:2.5%;
	border-radius:2px;
	border:#ccc solid 1px;
	padding:2%;
	background:#f2f2f2;
}
.profile input[type="submit"]{
	width:50%;
	margin-left:25%;
	border-radius:5px;
	background:#39cc42;
	color:#fff;
	cursor:pointer;
	border:#fcfcfc solid 1px;
	padding:2%;
	text-align:center;
	font-weight:600;
}
.profile .left{
	float:none;
	width:100%;
	border-radius:5px;
}
.profile .left .bio,.profile .left .contacts, .profile .left .passwords{
	margin-left:2.5%;
	width:95%;
	border:#ccc solid 1px;
	border-radius:0px 0px 5px 5px;
	padding:1%;
	margin-bottom:40px;
}
.profile .right{
	display:none;
}
footer{
	width:100%;
	padding:1%;
	font-size:14px;
}
footer ul{
	list-style:none;
	margin:0px;
	padding:0px;
}
footer li{
	float:left;
	margin-left:5px;
}
footer li a{
	color:#3d76d3;
	text-decoration:none;
}
footer li img{
	width:15px;
	height:15px;
}

@media only screen and (min-width: 768px){
	header{				
		padding:5px;
	}
	.logo{
		width:13%;
		margin-left:5%;
	}
	.menu-mobile,.menu-mobile-content{
		display:none;
	}
	.menu{
		width:35%;
		margin-left:60%;
		display:block;
		/*border:#000 solid 1px;*/
	}
	.menu ul{
		padding:0px;
		margin:0px;
		list-style:none;
		margin-top:3%;
		margin-left:10%;
	}
	.menu li{
		float:left;
		margin-left:2.5%;
		font-weight:600;
		font-size:15px;
		text-transform:capitalize;
	}
	.menu li a{
		font-weight:600;
		font-size:15px;
		text-transform:capitalize;
	}
	.menu li:nth-child(2),.menu li:nth-child(3){
		margin-top:7px;
	}
	.menu .how-it-works-btn{
		border:#ccc solid 1px;
		text-align:center;
		padding:4%;
		border-radius:5px;
		width:110px;
		margin-left:-20%;
	}
	.menu li .how-it-works-btn a{
		color:#565555;
		text-decoration:none;
		font-size:15px;
		text-transform:capitalize;
	}
	.menu li img{
		width:30px;
		margin-top:2px;
	}
	.menu li select{
		padding:3%;
		background:#eee;
		border:#eee solid 0.1em;
	}
	.post-book-btn{
		border:#fff solid 0.1em;
		text-align:center;
		padding:4%;
		background:#3d76d3;
		border-radius:5px;
		width:110px;
		margin-left:20%;			
	}
	.post-book-btn a{
		text-decoration:none;
		color:#fff;
		font-size:15px;
		text-transform:capitalize;
	}
	.content{
		width:90%;
		margin-left:4.5%;
		margin-top:10px;
	}

	/*Home General*/
	.jumbotron{
		border-radius:5px;
	}
	.search input[type='text']{
		float:left;
		width:80%;
		margin-left:5%;	
	}
	.search input[type='submit']{	
		width:7.5%;
		margin-left:2.5%;
		margin-top:0px;
	}	
	.jumbotron .main-banner li{
		float:left;
		margin-left:10%;
		margin-top:0px;
		width:20%;
	}
	.jumbotron .main-banner li p{
		text-align:left;
	}
	.search-result .search-result-title{
		padding:1%;
	}
	.search-result .search-result-title h4{
		float:left;
		width:75%;
		font-size:1em;
	}
	.search-result .search-result-title .add-to-watchlist-btn{
		margin-left:80%;
		width:20%;
		padding:1%;
	}
	.search-result .search-result-title .add-to-watchlist-btn a{
		color:#fff;
	}
	.search-result .search-result-title .remove-from-watchlist-btn{
		margin-left:80%;
		width:20%;
		padding:1%;
	}
	.search-result-content .book-item-img{
		width:10%;
		height:100px;
	}
	.search-result-content .book-item-info{
		float:left;
		width:50%;
		margin-left:5%;
		/*border:#ccc solid 0.1em;*/
	}
	.search-result-content .book-item-info .did-you-find-response li{
		margin-left:5px;
		width:60px;
	}
	.search-result-content .book-item-more-info{
		width:20%;
		margin-left:80%;
		display:block;
	}
	.report-post-btn a{
		font-size:15px;
		font-weight:500;
		color:#3d76d3;
	}
	.report-post-form{
		padding:1%;
		font-size:14px;
		width:23%;
		position:absolute;
		z-index:10;
		background:#fff;
		border:#ccc solid 1px;
		display:none;
	}
	.report-post-form-header{
		
	}
	.report-post-form-header h4{
		float:left;
		width:75%;
		font-size:15px;
		font-weight:600;
	}
	.report-post-form-header .close-btn{
		width:10%;
		margin-left:80%;
		color:#4286f4;
		cursor:pointer;
	}
	.book-item-more-info .bookmark-img,.book-item-more-info .unbookmark-img{
		/*border:#ccc solid 0.1em;*/
		width:70%;
		margin-left:15%;
		font-size:12px;
		text-align:center;
	}
	.book-item-more-info .bookmark-img img, .book-item-more-info .unbookmark-img img{
	 	width:40%;
	 	margin-left:10%;
	}
	.book-item-more-info .bookmark-img a,.book-item-more-info .unbookmark-img a{
		text-decoration:none;
		color:#000;
	}
	.book-item-more-info p{
		margin:0px;
	}
	.book-item-more-info .report-post-btn{
		text-align:center;
		margin-top:5px;
	}
	.book-item-more-info .report-post-btn a{
		font-size:14px;
	}
	.seller-forms{
		padding:1%;
	}
	.seller-forms input[type="submit"]{
		width:40%;
		margin-left:30%;
	}
	.seller-forms .login{
		float:left;
		width:45%;
		margin-left:2.5%;
		display:block;
	}
	.seller-forms .signup{
		margin-left:5%;
		border:#ccc solid 1px;
		padding:1%;
		border-radius:0px;
		width:45%;
		display:block;
	}
	.mobile-account-form-switch{
		display:none;
	}
	/*forgot-password-page*/
	.forgot-password-page{
		border-radius:5px;
	}
	.forgot-password-page form{
		padding:1%;
		width:50%;
		margin-left:25%;
	}
	.forgot-password-page form input[type="text"]{
		padding:1%;
	}
	.forgot-password-page form input[type="password"]{
		padding:2%;
	} 
	.registration-success-page div{
		margin-left:20%;
		width:60%;
	}
	.registration-success-page .proceed-btn{
		width:30%;
		margin-left:35%;
		padding:1%;
	}
	.login-menu{
		width:47%;
		margin-left:47%;
		display:block;
	}
	.login-menu ul{
		padding:0px;
	 	margin:0px;
		list-style:none;
		margin-top:2%;
		margin-left:5%;
	}
	.login-menu li{
		float:left;
		margin-left:4%;
		font-size:16px;
	}
	.login-menu li:nth-child(2),.login-menu li:nth-child(3){				
		margin-top:5px;
	}
	.login-menu li a{
		color:#515050;
		font-weight:600;
		font-size:15px;
		text-transform:capitalize;
	}
	.login-menu .how-it-works-btn{
		border:#ccc solid 1px;
		text-align:center;
		padding:4%;
		border-radius:5px;
		width:110px;
		margin-left:-30%;
	}
	.login-menu .how-it-works-btn a{
		color:#565555;
		text-decoration:none;
		font-size:15px;
		text-transform:capitalize;
	}
	.login-menu li img{
	 	width:30px;
		margin-top:2px;
	}
	.login-menu li select{
		padding:3%;
		background:#eee;
		border:#eee solid 1px;
	}
	.login-menu .post-book-btn{
		border:#fff solid 1px;
		text-align:center;
		padding:4%;
		background:#3d76d3;
		border-radius:5px;
		width:110px;
		margin-left:25%;			
	}
	.login-menu .post-book-btn a{
		text-decoration:none;
		color:#fff;
		font-size:15px;
		text-transform:capitalize;
	}
	.post-book-content{
		border-radius:5px;
	}	
	.book-info,.book-residence,.book-status{
		float:left;
		width:30%;
		padding:1%;
		height:300px;
		overflow:auto;
	}
	.book-info input[type="file"],
	.post-book-content input[type="text"],
	.post-book-content select,
	.book-status textarea{
		padding:1%;
	}
	.post-book-content input[type="submit"]{
		width:10%;
		margin-left:85%;
		margin-top:10px;
	}
	/* mybooks */			
	.books .left{
		float:left;
		width:67.5%;
		border-radius:5px;
	}
	.books .left .mybooks{
		margin-left:5%;
		width:90%;
	}
	.mybooks .no-book-posted a{
		font-weight:600;
	}
	.mybooks-item{
		float:left;
		width:45%;
		margin-left:3.333%;
	}
	.books .right{
		margin-left:70%;
		width:27.5%;
		display:block;
		border-radius:5px;
	}
	.books .right p{
		padding:1%;
	}
	.books .right a{
		font-weight:600;
	}
	.right .mywatchlist h4,.right .mybooklist h4{
		margin-bottom:0px;
		font-weight:600;
		font-size:16px;
	}
	.books .right .mywatchlist,.books .right .mybooklist{
		width:100%;
		border:#ccc solid 1px;
		border-radius:2px;
		padding:1%;
	 	max-height:250px;
	 	overflow:hidden;
	}
	.books .right .mybooklist{
	 	margin-top:10px;	
	}
	.mywatchlist-show-more-btn{
		background:#ccc;
		color:#8b8d8e;
		width:100px;
		text-align:center;
		margin-left:35%;
		cursor:pointer;
	}
	.mybooklist-show-more-btn{
		background:#ccc;
		color:#8b8d8e;
		width:100px;
		text-align:center;
		margin-left:35%;
		cursor:pointer;
	}
	.mywatchlist .mywatchlist-item:last-child,.mybooklist .mybooklist-item:last-child{
		border-bottom:none;
	}
	.right .mywatchlist .mywatchlist-item, .right .mybooklist .mybooklist-item{
		border-bottom:#ddd solid 1px;
		border-radius:1px;
		width:100%;
		padding:1%;
		background:#fff;
	}
	.mywatchlist-item-info,.mybooklist-item-info{
		width:70%;
		padding:0px;
	}
	.mybooklist-item-info h5{
		font-size:14px;
		margin:0px;
	}
	.mybooklist-item-info p{
		font-size:14px;
		margin:0px;
	}
	.mywatchlist-item-actions,.mybooklist-item-actions{
		width:40%;
		margin-left:60%;
		padding:0px;
	}
	.mywatchlist-item-actions ul,.mybooklist-item-actions ul{
		list-style:none;
		margin:0px;
		padding:0px;
	}
	.mywatchlist-item-actions li,.mybooklist-item-actions li{
		display:inline;
		margin-left:1%;
		width:50%;
	}
	.mywatchlist-item-actions li span,.mybooklist-item-actions li span{	
		color:#ccc;
	}
	.remove-watchlist-btn,.remove-booklist-btn{
		background:none;
		border:none;
		cursor:pointer;
	}
	.remove-watchlist-btn img, .remove-booklist-btn img{
		width:13px;
	}
	.profile{
		width:100%;
		padding:2%;
	}
	.profile input[type="text"]{
		width:90%;
		margin-left:5%;
	}
	.profile input[type="password"]{
		width:90%;
		margin-left:5%;
	}
	.profile select{
		width:90%;
		margin-left:5%;
	}
	.profile input[type="submit"]{
		width:35%;
		margin-left:60%;
	}
	.profile .left{
		float:left;
		width:67.5%;
		border-radius:5px;
	}
	.profile .left .bio,.profile .left .contacts, .profile .left .passwords{
		margin-left:5%;
		width:90%;
	}
	.profile .right{
		margin-left:70%;
		width:27.5%;
		display:block;
		border-radius:5px;
	}
	.profile .right p{
		padding:1%;
	}
	.profile .right .account-deactivate{
		width:100%;
		border:#ccc solid 0.1em;
		border-radius:0px 0px 5px 5px;
		padding:1%;
		margin-bottom:40px;
	}
	.profile .left div,.profile .right div{
		margin-top:10px;
	}
	.account-deactivate-btn{
		border:#ccc solid 1px;
		background:#ccc;
		text-align:center;
		padding:2%;
		border-radius:5px;
		width:70%;
		margin-left:15%;
		margin-bottom:2%;
	}
	.account-deactivate-btn a{
		color:#000;
		text-decoration:none;
	}
	.dark-popup-background{
		width:100%;
		height:100%;
		background:#000;
		opacity:0.6;
		position:absolute;
		z-index:10;
		display:none;
	}
	.must-be-loggedin-popup{
		background:#fff;
		border:#ccc solid 0.1em;
		border-radius:5px;
		width:35%;
		padding:1%;
		position:absolute;
		z-index:10;
		top:15%;
		left:32.5%;
		display:none;
	}
	.must-be-loggedin-popup-header{
		background:#3d76d3;
		padding:10px;
		color:#fff;
	}
	.must-be-loggedin-popup h4{
		float:left;
		width:70%;
		font-size:17px;	
		font-weight:600;
		margin:0px;
	}
	.must-be-loggedin-popup .close-btn{
		margin-left:90%;
		width:7%;	
		text-align:center;
		cursor:pointer;
	}
	.must-be-loggedin-popup p{
		margin-top:7px;	
	}
	.must-be-loggedin-popup a{
		color:#fff;
		font-weight:600;
	}
	.must-be-loggedin-popup .proceed-btn-green{
		border:#53c14f solid 1px;
		background:#53c14f;
		width:70%;
		margin-left:15%;
		padding:2%;
		text-align:center;
		border-radius:5px;
	}
	.must-be-loggedin-popup .proceed-btn-dark{
		border:#ccc solid 1px;
		background:#ccc;
		width:70%;
		margin-left:15%;
		margin-top:10px;
		padding:2%;
		text-align:center;
		border-radius:5px;
	}
	footer{
		width:50%;
		margin-left:33%;
	}
	footer li{
		margin-left:10px;
	}
	footer li img{
		width:20px;
		height:20px;
	}
}